#
.DS_Store


# IDEA
/.idea/

# Asset Bundles
manifest.json
static/public/

# Nodejs & Bower
*.log
node_modules/
bower_components/

# Local configs & logs
config/development.json
config/runtime.json
log/
*.pem
