<div class="message-wrapper">
  <i class="ion-ios-checkmark"></i>
  <h1><%= msg.title %></h1>
  <h3><%= msg.content %></h3>

  <br/><br/>
  <a href='<%= paths.root %>' class="btn btn-secondary">Return to Dashboard</a>
</div>
